.page-title {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-size: 18px;
    font-weight: 700px;
    line-height: 1.07;
    color: #4D5AE5;
}
.page-menu-list.a {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    text-decoration: none;
}
.page-menu-list.li {
    list-style-type: none;
}
.info.a{
    color: #434455; 
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    Size: 12px;
    line-height: 16px;
    letter-spacing: 4%;
}
.info.a:hover {
    color: #404BBF;
    cursor: pointer;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    Size: 12px;
    line-height:16px;
    letter-spacing: 4%;
}
.info.a:focus {
    color: #404BBF;
    text-decoration: none;
}
.a {
    color: #2e2f42;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    size: 12px;
    line-height: 16px;
    letter-spacing: 4%;
    text-decoration: underline;
}

a:hover {
    color: #404bbf;
    cursor: pointer;
}

a:focus {
    color: #404bbf;
}

.navbar-list li {
    list-style-type: none;
    text-decoration: none;
}

.contacts a {
    text-decoration: none;
}
.button {
    background-color: #4D5AE5;
    color: #ffffff;
    cursor: pointer;
    border: none;
    text-align: center;
    display: inline-block;
    size: 16px;
    Weight: Medium;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    letter-spacing: 4%;
}

.button:hover {
    background-color: #404BBF;
    color: #ffffff;
    cursor: pointer;
    border: none;
    text-align: center;
    display: inline-block;
    size: 16px;
    Weight: Medium;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    letter-spacing: 4%;
}

.button:focus {
    background-color: #404BBF;
    color: #ffffff;
    cursor: pointer;
    border: none;
    text-align: center;
    display: inline-block;
    size: 16px;
    Weight: Medium;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    letter-spacing: 4%;
    }
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
}
h1 {
    font-size: 56px;
    line-height: 3.5;
    letter-spacing: 2%;
    color: #ffffff;
    background-color: #2E2F42;
    font-weight: 700;
    }
    
.effec-solution.p {
    font-size: 16px;
    color: #FFFFFF;
    background-color: #2E2F42;
    line-height: 1;
    letter-spacing: 2%;
    }
    
.about-us.p {
    font-size: 16px;
    color: #434455;
    line-height: 1;
    letter-spacing: 2%;
    }
    
.about-us.h3 {
    font-size: 20px;
    line-height: 1.25;
    font-weight: 500;
    letter-spacing: 2%;
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    Weight: Medium;  
    }
    
.our-team.p {
    font-size: 16px;
    color: #434455;
    line-height: 1;
    letter-spacing: 2%;
    }
    
.our-team.h2 {
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 2%;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    Weight: Bold;
    }
    
.our-team.h3 {
    font-size: 20px;
    line-height: 1.25;
    font-weight: 500;
    letter-spacing: 2%;
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    Weight: Medium;
}

.our-portfolio.a {
    cursor: pointer;
}
    
.our-portfolio.p {
    font-size: 16px;
    color: #434455;
    line-height: 1;
    letter-spacing: 2%;
}
    
.our-portfolio.h3 {
    font-size: 20px;
    line-height: 1.25;
    font-weight: 500;
    letter-spacing: 2%;
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    Weight: Medium;
}
.layout {
   background-color: #2E2F42;
   max-width: 1440px;
   line-height: 312px;
}
.footer-layout{
    background-color: #2E2F42;
}
.footer-layout.a {
    font-size: 24px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: #2e2f42;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    size: 12px;
    line-height: 1;
    letter-spacing: 4%;
    text-decoration: underline;
}

.footer-layout.p {
    font-family: "Roboto", sans-serif;
    color: #F4F4FD;
    font-size: 18px;
    line-height: 1;
    letter-spacing: 3%;
    font: weight 700px;
    text-decoration: none;
    
}