.page-title {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font: weight 700px;
    font-style: normal;
}

.page-menu-list.a {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    text-decoration: none;
}

.page-menu-list.li {
    list-style-type: none;
}

.a {
    color: #2e2f42;
}

a:hover {
    color: #404bbf;
    cursor: pointer;
}

a:focus {
    color: #404bbf;
}

.navbar-list li {
    list-style-type: none;
    text-decoration: none;
}

.contacts a {
    text-decoration: none;
}
.button {
    background-color: #4d5ae5;
    border: none;
    color: #ffffff;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.button:hover {
    background-color: #404bbf;
    color: #ffffff;
    cursor: pointer;
}

.button:focus {
    background-color: #404bbf;
    color: #ffffff;
    cursor: pointer;
}

.footer-logo {
    font-size: 24px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
}
.footer p {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 3%;
    font: weight 700px;
    font-style: normal;
    text-decoration: none;
}

web-studio.h1{
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 2%;
    text-align: center;
    color: #ffffff;
    background-color: #2E2F42;
    font-weight: 700;
}
web-studio.p {
    font-size: 16px;
    color: #434455;
    line-height: 1.5;
    letter-spacing: 2%;
    font-weight: 400px;
}
about-us.p {
    font-size: 16px;
    color: #434455;
    line-height: 1.5;
    letter-spacing: 2%;
    font-weight: 400px;
}
about-us.h3 {
    font-size: 20px;
    line-height: 1.1;
    text-align: center;
    font-weight: 500;
}
our-team.p {
    font-size: 16px;
    color: #434455;
    line-height: 1.5;
    letter-spacing: 2%;
    font-weight: 400px;
}
our-team.h2{
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 2%;
    font-weight: 700;

}
our-team.h3 {
    font-size: 20px;
    line-height: 1.1;
    text-align: center;
    font-weight: 500;

}
our-portfolio.a{
    cursor: pointer;
}

our-portfolio.p {
    font-size: 16px;
    color: #434455;
    line-height: 1.5;
    letter-spacing: 2%;
    font-weight: 400px;

}
our-portfolio.h3 {
    font-size: 20px;
    line-height: 1.1;
    text-align: center;
    font-weight: 500;
}